# pep8
## pep8
### pep8

In [4]:
3+8

11

In [3]:
name="name1"
print(name)

name1

In [6]:
a=520
b=387
print(a*b)

201240

In [2]:
a="my name is"
b="not"
c="Rosa"
print(a,b,c)

my name is not Rosa

In [5]:
age= 37
years= 2025
dateofbrith= years-age
print(dateofbrith)
print("Your date of brith is", dateofbrith, )

1988
Your date of brith is 1988

In [8]:
name="Rosa"
age=37
age=58 #en son degisken hangisi ise onu yazdirir.print the most recently modified variable.
print(name,"is ", age,"years old.")  #eger yas degerini printden sonra yazarsak hata verir.
# if we place the age variable after the print statement without defining it first,it will raise an error

Rosa is  58 years old.

In [ ]:
name1="name1"
name_2="name2"
name3="name3"  #degisken isimleri sayi,isaretlerle ve - ile calismaz.
# variable names don"t work with numbers or symbols

In [9]:
name1="name"
print(name1) #eger kucuk harfle tanimladiysam buyuk harfle tanimaz.
# if we define it with a lowercase letter, we have to print it the same way

name

In [ ]:
name1="Rosa1"
name2="Rosa2"
age_1=20
age_2=10
print(name1,"is",age_2,"years old,",name2,"is",age_1,"years old.") #degiskenlere dikkat etmeliyiz.
# we should be careful with variables

Rosa1 is 10 years old, Rosa2 is 20 years old.

In [14]:
name1,name2,name3="Rosa1","Rosa2","Rosa3" #3. isme degisken tanimlamadigimiz icin hata veriyor
# it gives an error because we didn"t define a variable for the third name
age1,age2=20 
print(name1,name2,age1,age2)

TypeError: cannot unpack non-iterable int object

In [26]:
age1=age2=age3=20 
print(age1)

20

In [16]:
april=june=september=november=30
january=march=may=july=august=october=december=31
february=28
print("october has", october," days.")

october has 31  days.

In [ ]:
x=3 #integers are of the integer type. tamsayilar integer tipidir.
y="whatabi" #tirnak ici ifade string tipidir. # a value inside quotation marks is of the string type.
z=3.14  #ondalik sayilar float tipidir. floating-point numbers are of the float type.
print(type(x))
print(type(y))
print(type(z))
print(type(False)) #boolean degeri False ve True dir. # boolean values are false or true

<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>

In [17]:
brand="volvo"
age=3
km=70.25
accident_situation=True
print(type(brand))
print(type(age))
print(type(km))
print(type(True))
print("I have a",age,brand,"with",km,"on it,and ", accident_situation)

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
I have a 3 volvo with 70.25 on it,and  True

In [ ]:
# x=9 
y=7.8 # x ifadesini sildikten sonra hala ayni sonucu verdi. del x komuduyla x i silmis oluyor
print(x)  #(ustun devami)ve hata veriyor
del x    # ramde olup olmadigini kontrol ediyoruz 
print(x) # the "del" command deletes what is stored in the RAM.

NameError: name 'x' is not defined

In [ ]:
age=35
print(type(age))
print(age+age)

age=str(age)  #age i str ifadeye cevirdik # in this way, we can change the type of expressions.
print(type(age))   

print(age+age)

<class 'int'>
70
<class 'str'>
3535

In [ ]:
age=35
print(type(age))
print(age+age)

age=float(age) #age i float a donusturduk yani ondalikli sayiya.# in this way, we can change the type of expressions.
print(type(age))
print(age+age)

<class 'int'>
70
<class 'float'>
70.0

In [ ]:
age=35.9
print(type(age))   
print(age+age)

age=int(age)   #int e yani tam sayiya ceviriyoruz. yani virgulden sonraki sayiyi tamamiyle atiyor
print(type(age)) #when we convert a number of type float to an integer, the part after the decimal point is not taken
print(age+age)

<class 'float'>
71.8
<class 'int'>
70

In [18]:
years=2025
age="34.3"     #noktali str sayiyi direk int e cevirmiyor. ilk float sonra int ceviriyor 
age=float(age)    #tam sayi olsaydi direk int e cevirebiliriz. 
dateofbrith= years-int(age) # we can first convert a string expression of type float to a float, and then to an integer
print("My date of brith is",dateofbrith)

My date of brith is 1991

In [ ]:
# aritmatik operatorler # arithmetic operators
# Order of operations: parentheses, exponents, division and multiplication, addition and subtraction.
#islem onceligi parantez ici, uslu sayilar, bolme carpma, toplama cikarma
a=int(35/7)   #bolme islemlerinin hepsinin float olarak cikarir.(5.0 olarak yazar). #All results of division are returned as floats, such as 5.0.
print(type(a))   # int e cevirmeliyiz.#So, if we want the result as an integer, we need to cast it to an integer type."  
print(a)

<class 'int'>
5

In [ ]:
a=40//11  #// iki bolme islemi sonucu int e cevirir. sonuc a=3 olark cikar. 40 in icinde kac tane 11 var a bakiyoruz 
print(type(a)) #// performs integer division. The result is assigned to a = 3, since 11 fits into 40 exactly 3 times."
print(a)

<class 'int'>
3

In [ ]:
a=40%11 # bolumunden kalani gosterir sonuc 7. tipi de int dir 
print(a) #% "is the modulo operator. It returns the remainder of the division. In this case, the result is 7, and it's an integer."
print(type(a))

7
<class 'int'>

In [ ]:
print(5**2)  # karesini almak icin # To square a number
print(5**3) # kupunu almak icin # To cube a number
pow(5,3)   # buda ayni islemi . pyhton in kutuphanesindeki ifade #This performs the same operation, but using the expression from Python's library.

print((25**(1/2)))  #float olarak yazdirdi.# The result is a float.

pow(125,1/3) #float olarak yazdirdi # The result is a float.

25
125
5.0

5.0

In [5]:
pow(3,6)

729

In [ ]:
r=9 # The area of a circle with a radius of 9 cm
area=(3.14)*(r**2)  # yaricapi 9cm olan dairenin alani
print(int(area))

254

In [19]:
baselength=a=5  #ucgenin alanini bul cm den m ye cevir #Find the area of the triangle.
height=b=10
area=((a*b)/2)/10000 
print(area)

0.0025

In [20]:
a=8  #kenar uzunluklari a ve b olan dikdortgenin alanini hesapla
b=5   # Calculate the area of a rectangle with side lengths a and b.
area=a*b
print("Area of the rectangle is",area,"cm**2")

Area of the rectangle is 40 cm**2

In [21]:
number=52
a=number%10
b=number//10
print(a,b)

2 5

In [23]:
money=96
kg=money//14
remaining=money%14
print("With a total of",money,",I can buy",kg,"kilos of meat","and I will have",remaining," CHF left.")

With a total of 96 ,I can buy 6 kilos of meat and I will have 12  CHF left.

In [26]:
a=3
b=4
c=((3**2)+(4**2))**(1/2) #sonuc float cikar. 
print("c`nin degeri = ",int(c))

c`nin degeri =  5

In [31]:
r=8
pi=3.14
area=(r**2)*pi
perimeter=2*pi*r
print("Area =", area,"cm**2",",perimeter=",perimeter,"cm")

Area = 200.96 cm**2 ,perimeter= 50.24 cm