In [ ]:
# mutable => degistirilebilir. It is changeable.
# itinerable => elemanlarina ulasilabilir.Its elements are accessible.
list_01=[1, 3.14, "Gonul", True] # listeler koseli parantezlerle olusturulur.Lists are created using square brackets
len(list_01)  # len listede kac tane eleman oldugunu yazar. The len function returns the number of elements in the list

4

In [ ]:
list_01=[1, 3.14, "Gonul", True]
print(list_01)
list_02=list("Gonul") # str ifadenin karakterlerini tek tek alarak listeye donusturur.Converts a string's characters into a list by taking each character individually.
list_02

[1, 3.14, 'Gonul', True]

['G', 'o', 'n', 'u', 'l']

In [ ]:
list_01=[ ]
list_01
list_02=list(1234) #liste  int olarak olusturulamiyor. A list cannot be created as an int
list_02

TypeError: 'int' object is not iterable

In [ ]:
list_01=["Gonul",3,"Faruk",5] 
list_01[0] #hangi indekte hangi eleman  var ona bakiyoruz.We are checking which element is at which index.

'Gonul'

In [20]:
list_01=["Gonul",3,["Faruk",5,"fatma",14],"haluk",3] # liste icine liste yazabiliyoruz.We can place a list inside another list
list_01[2] 
print(type(list_01[2]))

<class 'list'>

In [15]:
list_01=["Gonul",3,["Faruk",5,"fatma",14],"haluk",3]
list_01[0:3]

['Gonul', 3, ['Faruk', 5, 'fatma', 14]]

In [ ]:
list_01=["Gonul",3,["Faruk",5,"fatma",14],"haluk",3]
list_01[2][0].lower() # karakteri kucuk harfle baslatir.Makes the first character lowercase

'faruk'

In [ ]:
list_01=["Gonul",3,["Faruk",5,"fatma",14],"haluk",3]
str(list_01[2][1]) # liste ici elemani str cevirdik.We converted the element inside the list to a string.

'5'

In [ ]:
list_01=["Gonul",3,["Faruk",5.4,"fatma",14],"haluk",3]

str(list_01[2][1])[1]

'.'

In [ ]:
list_01=["Gonul",3,["Faruk",5,"fatma",14],"haluk",3]
list_01[0]="hayat" # liste elemanlarinda degisiklik yapabilyoruz.We can modify the elements of a list.
list_01

['hayat', 3, ['Faruk', 5, 'fatma', 14], 'haluk', 3]

In [36]:
list_01=["Gonul",3,["Faruk",8.5,"fatma",14],"haluk",3]
list_01[2][1]=85
list_01

['Gonul', 3, ['Faruk', 85, 'fatma', 14], 'haluk', 3]

In [ ]:
list_01=[1,2,3,4,5]
list_01.append(6) # eleman eklemek icin. To add an element
list_01.append(["str",7,8])
list_01

[1, 2, 3, 4, 5, 6, ['str', 7, 8]]

In [ ]:
list_01=[1,2,3,4,5]
list_01.insert(1,7) #birinci karakterden itibaren yeni elemani ekleyip listeyi devam ettirdi.It added the new element starting from the first index and continued the list
list_01

[1, 7, 2, 3, 4, 5]

In [49]:
list_01=[1,2,3,[4,5],9,8]
list_01.insert(3,7) #birinci karakter yerine ikincidekini ekleyip devam etti
list_01

[1, 2, 3, 7, [4, 5], 9, 8]

In [ ]:
list_01=[1,2,3,[4,5],9,8]
list_01[3].insert(3,7) #icindeki listeye ulasip ekleme yapiyoruz.We access the inner list and add an element to it.
list_01

[1, 2, 3, [4, 5, 7], 9, 8]

In [ ]:
list_01=[1,2,3,[4,5],9,8]
list_01.insert(-1,7) # ayni islemi tersten deneyerek
list_01

[1, 2, 3, [4, 5], 9, 7, 8]

In [8]:
list1=[1,2,3]
list1.pop()
print(list1)
list1.pop()
print(list1)

[1, 2]
[1]

In [ ]:
list1=[1,2,3,4,5,5,5,5,6]
list1.count(5) # 5 elemaninin liste icinde kac tane old yazar.It prints how many times the element 5 appears in the list.

4

In [ ]:
list1=[1,2,3,4,5,6,7]
list1.clear()  # listeyi temizler. Clears the list
print(list1)

[]

In [11]:
list1=[1,2,3,4,5,6,7]
del list1[4]
print(list1)

[1, 2, 3, 4, 6, 7]

In [ ]:
list1=[5,6,7,9,9,1,2,3,4,5,6,7]
list1.sort() # liste elemanlarini duzenler.Organizes the list elements.
print(list1)

[1, 2, 3, 4, 5, 5, 6, 6, 7, 7, 9, 9]

In [ ]:
list1=[5,6,7,9,9,1,2,3,4,5,6,7]
list1.sort(reverse=True) # duzenleyip tersten siralar.Sorts and then reverses the order
print(list1)

[9, 9, 7, 7, 6, 6, 5, 5, 4, 3, 2, 1]

In [ ]:
list1=[5,6,7,9,9,1,2,3,4,5,6,7,True,False]
list1.sort() # true ve false 0 ve 1 degerlerini alarak siralar. Sorts by taking True and False as 0 and 1 values.
print(list1)

[False, 1, True, 2, 3, 4, 5, 5, 6, 6, 7, 7, 9, 9]

In [ ]:
list1=["Fatma","ebru","gonul","faruk"]
list1.sort() # str ifadeleri ascii nolarina gore siralar.Sorts string expressions based on their ASCII values.
print(list1)
list1.sort(reverse=True)
print(list1)

['Fatma', 'ebru', 'faruk', 'gonul']
['gonul', 'faruk', 'ebru', 'Fatma']