In [ ]:
# tuple
# immutable => degistirilemez. It is immutable
#  tuple icine list ekleyebiliriz. We can add a list inside a tuple

In [ ]:
a=["fatma","ebru","gonul"]
b=(1,2,3) # tuple () seklinde olusturuluyor. A tuple is created using parentheses ().

print(type(a))

print(type(b))

print(b)

<class 'list'>
<class 'tuple'>
(1, 2, 3)

In [ ]:
a=tuple("gtifkdsmlsd klsdovk")

print(a)

('g', 't', 'i', 'f', 'k', 'd', 's', 'm', 'l', 's', 'd', ' ', 'k', 'l', 's', 'd', 'o', 'v', 'k')

In [ ]:
a=(1,2,3,["a","b","c"],5,7) # tuple in icine list ekleyebiliyoruz. We can add a list into a tuple
print(a)
print(type(a))

(1, 2, 3, ['a', 'b', 'c'], 5, 7)
<class 'tuple'>

In [13]:
a=[1,2,3,(5,6),7]
print(a)
print(type(a))
print(type(a[3]))

[1, 2, 3, (5, 6), 7]
<class 'list'>
<class 'tuple'>

In [ ]:
a="Initiative Genève"
print(type(a))
b=tuple(a) 
print(type(b))
print(a)
print(b)

<class 'str'>
<class 'tuple'>
Initiative Genève
('I', 'n', 'i', 't', 'i', 'a', 't', 'i', 'v', 'e', ' ', 'G', 'e', 'n', 'è', 'v', 'e')

In [ ]:
a=("deneme",) # bu ifadede virgul onemli, virgul olmazsa str ifade olarak algiliyor.In this expression, the comma is important; without the comma, it is interpreted as a string.
print(a)
print(type(a))

('deneme',)
<class 'tuple'>

In [ ]:
a=[1,2,3] 
b=[4,5,"a"]
print(a+b) 
print(a*3)

[1, 2, 3, 4, 5, 'a']
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [ ]:
a=(1,2,3)
b=(4,5,"a") #In tuples, just like in lists, we can concatenate expressions and also perform multiplication as shown below
print(a+b) # tupleda da ayni list gibi ifadeleri toplayip asagidaki gibi carpma da yapabiliyoruz
print(a*3)

(1, 2, 3, 4, 5, 'a')
(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [27]:
a=[1,2,3]
b=["a"]
print(a+b)
print(a*3)

[1, 2, 3, 'a']
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [ ]:
a=(1,2,3)
b=("a",) #virgulu unutmuyoruz. We don't forget the comma
print(a+b)
print(a*3)

(1, 2, 3, 'a')
(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [ ]:
a=(1,2,3)
print(len(a)) # len  elemanlari sayar. The len function counts the elements
print(type(a))

3
<class 'tuple'>

In [ ]:
a=(1,2,3) #iterable elemanlarina erisilebilir. The elements of an iterable can be accessed.
print(a[1])
print(a[-1])

2
3

In [38]:
a=(1,2,3,["ali","veli",4.5,"ayse"],4)
print(a[3][1])
print(a[1:3])
print(a[1:2])

veli
(2, 3)
(2,)

In [ ]:
a=(1,) # int ifadelerde de virgul onemli. The comma is also important in int expressions
print(type(a))

<class 'tuple'>

In [ ]:
a=(1,2,3,["ali","veli",4.5,"ayse"],4)
print(a)
a[1]="degistir" # tuple da degisiklik yapamiyoruz . We cannot make changes in a tuple
print(a)

(1, 2, 3, ['ali', 'veli', 4.5, 'ayse'], 4)

TypeError: 'tuple' object does not support item assignment

In [ ]:
a=(1,2,3,["ali","veli",4.5,"ayse"],4)
b=list(a) #tuple i listeye cevirip degisiklik yaptik. We converted the tuple to a list and made changes.
print(b)
b[1]="gonul"
print(type(b))
print(b)
a=tuple(b) # tekrar tuple a cevirdik 
print(a)

[1, 2, 3, ['ali', 'veli', 4.5, 'ayse'], 4]
<class 'list'>
[1, 'gonul', 3, ['ali', 'veli', 4.5, 'ayse'], 4]
(1, 'gonul', 3, ['ali', 'veli', 4.5, 'ayse'], 4)

In [ ]:
a=(1,2,3,["ali","veli",4.5,"ayse"],4) # tuple in icindeki listede degisiklik yapabiliriz. We can make changes to the list inside a tuple
a[3][0]="degistir"
print(a)

(1, 2, 3, ['degistir', 'veli', 4.5, 'ayse'], 4)

In [ ]:
a=(1,2,2,2,3,["ali","veli",4.5,"ayse"],4)
a.count(2) # () icine yazdigimiz degerin kac tane old gosterir. It shows how many times the value inside () appears

3

In [ ]:
a=(1,2,3,("ali","veli",4.5,4,4,4,"ayse"),4) # nested. tuple icinde tuple varsa nested deniliyor.If there is a tuple inside a tuple, it is called nested
a[3].count(4)

3

In [ ]:
a=(1,2,3,("ali","veli",4.5,"ayse"),4)
a.index(2) #ifadenin hangi indekste old gosterir. It shows at which index the expression is located.

1

In [ ]:
# range belli bir sayi araligini alma. sifirdan yeni liste yada tuple olusturur
# Range takes a specific range of numbers. It creates a new list or tuple starting from zero.
a=tuple(range(10,26,5)) # kactan basladigi kaca kadar devam edecegi ve kacar kacar olacagi. It specifies the starting number, the stopping point, and the step size.
print(a)

(10, 15, 20, 25)

In [11]:
list1=tuple(range(20,2,-1))
print(list1)
print(type(list1))

(20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3)
<class 'tuple'>

In [ ]:
result=input("please give the result of exam:")
if result.isdigit():   # farkli karakter var mi bakiyor.It checks if there are different characters
    result=int(result)
    if (result<50):
        print("your note is D")
    elif(result<70):
        print("your note is C")
    elif(result<85):
        print("your note is B")
    elif(result<100):
        print("your note is A") 
    else:
        print("you gave a number not between 0 and 100 ")       


else:
    print("please give a number,not a exam")

your note is A